﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GNP.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
     <link href="CCS/Style.css" rel="stylesheet" type ="text/css" />

    <%--<style type="text/css">

        #Background
    {
        position: fixed; 
        top: 0px; 
        bottom: 0px; 
        left: 0px; 
        right: 0px; 
        overflow: hidden; 
        padding: 0; 
        margin: 0; 
        background-color: #F0F0F0; 
        filter: alpha(opacity=80); 
        opacity: 0.8; 
        z-index: 100000;
    }
        
    #Progress
    {
        position: fixed;
        top: 40%; 
        left: 40%; 
        height:20%; 
        width:20%; 
        z-index: 100001;  
        background-color: #FFFFFF; 
        border:1px solid Gray; 
        background-image: url('images/loading.gif'); 
        background-repeat: no-repeat; 
        background-position:center;
    }

    </style>--%>
</head>
<body>
    <form id="form1" runat="server">
         <div>
        </div>
         <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        <p>
            <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
        </p>
        <asp:TextBox ID="TextBox8" runat="server" Height="63px" Width="523px"></asp:TextBox>
         <asp:Label ID="Label3" runat="server" Text="Label"></asp:Label>
         <asp:ScriptManager ID="ScriptManager1" runat="server">
         </asp:ScriptManager>
        
         <asp:UpdatePanel ID="UpdatePanel1" runat="server">
             <ContentTemplate>
                 <asp:Button ID="btnCargaGnP" runat="server" OnClick="btnCargaGnP_Click" Text="Carga GNP" />
             </ContentTemplate>
         </asp:UpdatePanel>
        <br />
        <br />
         <asp:UpdateProgress ID="UpdateProgress1" runat="server" AssociatedUpdatePanelID ="UpdatePanel1">
             <ProgressTemplate>
                  <div id="Background"></div>
                  <div id="Progress">
                 <%--<div class = "#Background">
                 <link href="CCS/Style.css" rel="stylesheet"  runat = "server"/>--%>
              <%-- </div--%>
                      <h6> <p style="text-align:center"> <b>Procesando Datos, Espere por favor... <br /></b> </p>   
                          <h6></h6>
                      </h6>                      
                </div> 
                 
                </ProgressTemplate> 
         </asp:UpdateProgress>
         <p>
             <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
             
         </p>
    </form>
</body>
</html>
