﻿<%@ Page Title="" Language="VB" AutoEventWireup="false" MasterPageFile="~/Principal.Master" CodeFile="home.aspx.vb" Inherits="home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContenidoMenuContextual" runat="server">
    <%-- <asp:Label ID="LblMostrar" runat="server"></asp:Label>--%>
     <%--    <asp:Button ID="BtnCerrarSesion" runat="server" Text="Cerrar sesion" Width="141px" />--%>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContenidoPrincipal" runat="server">
    <%-- <h2>Bienvenido</h2>--%>
    <h2>
     
        </h2>
</asp:Content>
