﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Login.aspx.vb" Inherits="Login" %>

<!DOCTYPE html>
<%--<script runat="server">

</script>--%>


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>.:login:.</title>
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap/Style.css" rel="stylesheet" />

</head>
     <%--<img src="Imagenes/kIOg8Eq.jpg" />--%>
<body style=" background-image: url('Images/sistema-tickets.jpeg')">   
    <form id="form1" runat="server">

        <div class = "panel-img">
            <img src="Images/Panel.png" />
           <%-- <img src="Images/ahorra_seguros_logo.jpg" />--%>
            
            
        </div>
      
        <div>
            <div style ="position:absolute; z-index; top: 182px; left: 0px; height: 351px; width: 455px;" id="layer1">
            <div class="modal-body" style ="top: 0px; left: 0px; width: 227px; height: 339px; margin-left: 400px; margin-top: 30px; margin-bottom: 0px;">
                <div class="row">
                    <div class="col-xs-16">
                        <div class="form-group">
                            <p>
                             &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; 
                             &nbsp;  &nbsp;  <label for ="titulo" class ="control-label" style ="color:aliceblue; font-size : 18px ; text-align:right; ">&nbsp;WS CATALOGOS </label>
                           </p>
                            <label for ="user name" class="control-label" style="color:aliceblue">Nombre de usuario</label>
                           <input type ="text" class="form-control" runat="server" id="Username"  placeholder ="example@gmail.com" />
                        <span class="help-block"></span>        
                        </div>
                        <div class="form-group">
                            <label for="password" class ="control-label" style="color:aliceblue" id="TxtNombre"  >Contraseña</label>
                            <input type ="password" class="form-control" runat ="server" id="contraseña" />
                            <span class="help-block"> </span>
                        </div>
                        <%--<asp:Button ID="Button1" runat="server" Text="Ingresar" Width="388px" BackColor="#67B66E" BorderColor="Black" ForeColor="White" Height="34px"/>--%>
                        <button type="submit" class="btn btn-success btn-block" runat="server" id="Ingresar"  >Ingresar</button>
                        <button type="submit" class="btn btn-group btn-block" >Olvido su contraseña</button>
                        <%--<asp:Button ID="Button1" runat="server" Text="Button" />--%>
                    </div>


                </div>

</div>
            </div>
        </div>
    </form>
</body>
</html>
