﻿<%@ Page Title="" Language="VB" MasterPageFile="~/usuarios/tipoUsuario.master" AutoEventWireup="false" CodeFile="admiUsuarios.aspx.vb" Inherits="usuarios_admiUsuarios" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContenidoPrincipal" runat="server">
    <h2>Administrar Usuarios</h2>
</asp:Content>

