﻿<%@ Page Title="" Language="VB" MasterPageFile="~/usuarios/tipoUsuario.master" AutoEventWireup="false" CodeFile="DatosUsuario.aspx.vb" Inherits="usuarios_DatosUsuario" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContenidoPrincipal" runat="server">
    <h2>Datos de usuario</h2>
</asp:Content>
