﻿<%@ Page Title="" Language="VB" MasterPageFile="~/usuarios/tipoUsuario.master" AutoEventWireup="false" CodeFile="ingresarUsuario.aspx.vb" Inherits="usuarios_ingresarUsuario" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContenidoPrincipal" runat="server">
    <h2>Ingresar nuevo usuario</h2>
</asp:Content>


