﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Aseguradoras/Aseguradoras.master" AutoEventWireup="true" CodeFile="GNP.aspx.cs" Inherits="Aseguradoras_GNP" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContenidoPrincipal" runat="server">
    <h2>GNP</h2>                     
   
         <asp:Label ID="Label1" runat="server" Text="Status Consulta" style="font-size: medium"></asp:Label>
         <br />
         <br />
         <asp:Label ID="Label2" runat="server" Text="Status Almacenado" style="font-size: medium"></asp:Label>
        <br />
        <br />
     <asp:ScriptManager ID="ScriptManager1" runat="server">
         </asp:ScriptManager>
        
         <asp:UpdatePanel ID="UpdatePanel1" runat="server">
             <ContentTemplate>
                 <asp:Button ID="btnCargaGnP" runat="server" OnClick="btnCargaGnP_Click" Text="Carga GNP" />
                 <%--<asp:Timer ID="Timer1" runat="server" Interval="2000" ontick="Timer1_Tick" />--%>
             </ContentTemplate>

                      </asp:UpdatePanel>
        <br />
        <br />
         <asp:UpdateProgress ID="UpdateProgress1" runat="server" AssociatedUpdatePanelID ="UpdatePanel1">
             <ProgressTemplate>
                 <%-- <link href="CCS/Style.css" rel="stylesheet" type ="text/css" />--%>
                
                  <div id="Background"></div>
                  <div id="Progress">
                 <%--<div class = "#Background">
                 <link href="CCS/Style.css" rel="stylesheet"  runat = "server"/>--%>
              <%-- </div--%>
                      <h6> <p style="text-align:center"> <b>Procesando Datos, Espere por favor... <br /></b> </p>   
                          <h6></h6>
                          <h6></h6>
                          <h6></h6>
                      </h6>                      
                </div> 
                 
                </ProgressTemplate> 
         </asp:UpdateProgress>

   
</asp:Content>

