﻿body {
    margin: 0;
    padding: 0;
    background: #FA58AC;
    color: #444;
    font: 12px Arial, Verdana, Tahoma, sans-serif;
    line-height: 17px;
}
#cabecera {
    height: 160px;
    background-color: #1a70c2;
    color: whitesmoke;
    border: 1px dashed #A64E06;
    box-shadow: 0px 0px 10px #000;
    position:relative;
    z-index:2;
    /*width: 780px;
    margin: 0 auto;*/
}
#contenidoCabecera {
    width: 780px;
    margin: 0 auto;
}
#Barrahorizontal {
    height: 43px;
    background-color: #1a70c2;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px #000 inset;
    margin: 0 auto;
    text-align:center;
    width: 778px;
}
#Barrahorizontal > ul {
    list-style-type:none;
    padding:0;
    margin:0;
    color:azure;
    
}
    #Barrahorizontal li {
        height: 28px;
        padding:10px;
        display: inline-block;
        padding: 5px;
        cursor: pointer;
        background-color: azure;
        color: azure;
        box-shadow: 0px 0px 10px #000 inset;
        margin: 0 auto;
        text-decoration-color: aliceblue;
        border: 2px  #000;
    width: 161px;
}

        #Barrahorizontal li > a {
            display: block;
            color: black;
            box-shadow: 0px 0px 10px #000 inset;
            text-decoration-color: none;
            font-weight:bold;
    width: 160px;
}

#logotipo{
    width: 60%;
    float:left;
    text-align:center;
    margin-top: 10px;
    height: 38px;
}

#logotipo > img
{
    box-shadow: 0px 0px 10px #000
}

#titulo {
    width: 60%;
    float: left;
    text-shadow: 2px 2px 3px #000;
    height: 38px;
}

#titulo > h1{
    margin-top:12px;
    color:azure;
    width: 467px;
    height: 42px;
}
    #titulo > h2 {
        margin-bottom: 0;
        color: azure
    }
#bajo {
    width: 960px;
    margin: auto;
    background-color: #1a70c2;
    /*background-color: brown;*/
    border-radius: 0px 0px 20px 20px;
    overflow: auto;
    box-shadow: 0px 0px 20px #000;
}
#columnIzq, #columndDere {
    float: left;
    width: 20%;
    min-height: 500px;
    background-color: lightskyblue ;
}
#menucontextual
{
    list-style-type: none;
    padding: 0;
    margin: 50px 0;
    text-align: center;
}

    #menucontextual > li
    {
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
    color: #000000;
    border: 1px outset #000;
    box-shadow: 0px 0px 10px #000 inset;
}

    #menucontextual > li >a
    {
    background: |;
    text-decoration: none;
    color: #FF0000;
    text-align: left;
}

#menucontextual1 {
    list-style-type: none;
    padding: 0;
    margin: 50px 0;
    background-color: #008000;
}

    #menucontextual1 > li {
        padding: 10px;
        text-align: center;
        background-color: aliceblue;
        color: black;
        border: 1px outset #000;
        box-shadow: 0px 0px 10px #000 inset;
    }

        #menucontextual1 > li > a {
    text-decoration: none;
    color: #FF0000;
}

#columnCentro {
    float: left;
    width: 60%;
    min-height: 500px;
    background-color: aliceblue;
    box-shadow: 0px 0px 5px #000 inset;
}

#pie {
    height: 30px;
    background-color: #1a70c2;
    border-radius: 0px 0px 20px 20px;
    clear: both;
    box-shadow: 0px 0px 5px #000 inset;
    color:white;
    text-align:center;
    padding-top: 5px;
}