﻿* {
padding: 0;
margin: 0;
} 

body {
margin:0;
padding: 0;
background: #f7f7f7;
color: #444;
font: 12px Arial, Verdana, Tahoma, sans-serif;
line-height: 17px;
}

img {border: none;}
a{ color: #70AFDF; text-decoration: none; }
a:hover {  color: #333; }

#wrap {
width: 780px;
margin: 0 auto;
}

#header {
background: #3F86BB url(header.gif) no-repeat;
height: 110px;
margin-top: 20px;
}
#header h1 { 
font-size: 22px;
letter-spacing: -1px;
padding: 35px 0 0 30px;
color: #fff;
}
#header h1 a { 
color: #fff;
text-decoration: none;
}
#header h1 a:hover {
color: #000;
}
#header h2 {
font-size: 16px;
color: #f9f9f9;
padding: 0 0 0 30px;
}

#content { 
background: #f7f7f7 url(middle.gif) repeat-y;
padding: 0 20px;
}

.innercontent {
padding: 0;
float: left;
width: 410px;
text-align: justify;
}
.innercontent h2 {
padding: 2px 0 5px 0px; 
font: bold 12px Verdana, 'Trebuchet MS', Sans-serif;
color: #444;	
border-bottom: 1px dotted #999;
margin-bottom: 5px;
margin-top: 10px;
}

.left { 
margin-left: 20px;
padding-top: 10px;
float: left;
width: 150px;
line-height: 12px;
}
.left h2 {
font: bold 11px Verdana, 'Trebuchet MS', Sans-serif;
padding: 5px 0 5px 0px; 	
}
.left ul  {
color: #aaa;
text-align: left;
margin: 3px 0 8px 0; 
text-decoration: none;	
list-style-type:none;	
}
.left ul li {
padding: 2px 0 2px 0px;
margin: 0 2px;	
}
.left ul a {
font-weight: 600;
color: #70AFDF;
}
.left ul a:hover { color : #333; }

.right { 
padding-top: 10px;
float: left;
width: 160px;
line-height: 12px;
}
.right h2 {
font: bold 11px Verdana, 'Trebuchet MS', Sans-serif;
padding: 5px 0 5px 0px; 	
}
.right ul  {
color: #aaa;
text-align: left;
margin: 3px 0 8px 0; 
text-decoration: none;	
list-style-type:none;	
}
.right ul li {
padding: 2px 0 2px 0px;
margin: 0 2px;	
}
.right ul a {
font-weight: 600;
color: #70AFDF;
}
.right ul a:hover { color : #333; }

#bottom {
background: #f7f7f7 url(bottom.gif) no-repeat;
height: 20px;
}

#footer { 
font-size: 10px;
color: #444;
text-align: center;
padding-bottom: 10px;
}
#footer a {color: #666; text-decoration: none; }
    #footer a:hover {
        color: #000;
    }
