﻿body {
    font-family:sans-serif;
    background: #0984e3;
    margin:0px;
}
.chat_box,.msg_box {
    cursor:pointer;
    position: fixed;
    bottom: 0px;
    right: 20px;
    background: white;
    width: 250px;    
    border-radius: 5px 5px 0px 0px;
}
.chat_head,.msg_head
{
    background: #6c5ce7;
    padding:15px;
    color:white;
    border-radius:5px 5px 0px 0px;
}
.chat_body 
{
    height: 500px;
}
.msg_head {
    background: #a29bfe;
}
.msg_body
{
    height:200px;
    font-size:12px;
}
.msg_box
{
    background: white;
    width:250px;
    bottom:-5px;
    /*height: 300px;*/
}


.close
{
    float:right;
}
.msg_input {
    border: transparent;
    border-top:1px solid #81ecec;
    width: 100%;
    padding:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.user
{
    cursor:pointer;
    padding:20px 25px;
    position:relative;

}
.user:hover
{
    background:#f8f8f8;
}
.user:before
{
    content:"";
    position:absolute;
    background:#2ecc71;
    width:10px;
    height:10px;
    left:8px;
    top:24px;
    border-radius:5px;
}
.msg_a {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 15px;
    background: #70a1ff;
    position: relative;
    border-radius: 5px;
}
    .msg_a:before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        top: 7px;
        left: -30px;
        border: 15px solid;
        border-color: transparent #70a1ff transparent transparent;
    }
.msg_b {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 15px;
    background: #00b894;
    position: relative;
    border-radius: 5px;
}

    .msg_b:before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        top: 7px;
        right: -30px;
        border: 15px solid;
        border-color: transparent transparent transparent #00b894;
    }