﻿

 #Background

{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #F0F0F0;
    filter: alpha(opacity=80);
    opacity: 0.8;
    z-index: 100000;
}

#Progress {
    position: fixed;
    top: 40%;
    left: 40%;
    height: 20%;
    width: 20%;
    z-index: 100001;
    background-color: #FFFFFF;
    border: 1px solid Gray;
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
}

